.App {
  text-align: center;
}

.container {
  background-color: black;
  width: 50%;
  padding: 10px;
  margin: auto;
  overflow: auto;
  height: 300px;
}
.message0 {
  background-color: #1188dd;
  color: #ffdddd;
  text-align: right;
  padding: 5px;
  margin: 4px;
  display: table;
  border-radius: 5px;
  float: right;
}
.messageContainer{
  overflow: auto;
}
.message1 {
  background-color: #dd2211;
  color: #ffdddd;
  text-align: left;
  padding: 5px;
  margin: 4px;
  display: table;
  border-radius: 5px;
  float: left;
  overflow: auto;

}
.sendButton {
  background-color: #1188dd;
  color: white;
  border-radius: 5px;
  border: 0px;
  width: 10ch;
  height: 4ch;
}
.sendButton:hover {
  cursor: pointer;
  border: 1px solid white;
}
.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  position: absolute;
  color: white;
  z-index: 1;
  text-align: center;
}
.messageField {
  border-radius: 5px;
  border: 1px lightgray solid;
  height: 4ch;
  margin-right: 10px;
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.inputContainer {
  position: absolute;
  right: 24%;
}